{% extends 'base.html.twig' %}

{% block body %}
<h2 class="page-header">Lastest to do </h2>
<table class="table table-striped">
<thead>
	<tr>
		<td> STT</td>
		<td> To do</td>
		<td> Due date </td>
		<td></td>
	</tr>
</thead>
 <tbody>
 	<tr>
		<td> 1</td>
		<td> Learn</td>
		<td> Due date </td>
		<td>
			<a href = "todo/detail/1" class = "btn btn-success"/> View</a>
			<a href = "todo/edit/1" class = "btn btn-default"/> Edit</a>
			<a href = "todo/detail/1" class = "btn btn-danger"/>Delete</a>
		</td>
	</tr>
 </tbody>
</table>
{% endblock %}